

.item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    gap: 0.5em;
    border: 1px solid #000000;
    border-radius: 0.2em;
}

.test-title {
    font-size: 0.9em;
    color: #000000;
    font-weight: 500;
    padding: 0 0.5em;
    text-align: left;
}

.test-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-info img{
    width: 1em;
}

.test-info p{
    font-size: 0.68em;
    padding: 0 1em;
}

@media(max-width:63.9375em){
    .list-item-result{
        grid-template-columns: 1fr; 
        overflow-y: hidden;
    }
  }

@media(max-width:46.1875em){
      
  }